.main--container {
    height: 79vh;
    max-width: 600px;
    margin: 0 auto;
}
.container-cuadrado {
    width: 50%;
    max-width: 600px;
    order: 1;
    min-height: 31vh;
}
.triángulo {
    width: 50%;
    order: 3;
    height: auto;
}
.circulo {
    max-width: 600px;
    width: 50%;
    order: 2;
}
.triángulo-isósceles {
    width: 50%;
    order: 4;
    height: auto;
}